<form class="form-signin text-center pt-5">
  <img class="mb-4" src="assets/logo.svg" alt="logo" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
    autofocus="" [(ngModel)]="login.email">
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
    [(ngModel)]="login.password">
  <div *ngIf="errorOnLogin" class="my-2 py-1 alert alert-danger" role="alert">
    <small>{{errorOnLogin}}</small>
  </div>
  <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" (click)="onSubmit($event)">Sign in</button>
  <p class="mt-3 text-muted ">&copy; {{environment.ownerName}}</p>
</form>