<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <img class="m-auto" src="assets/logo_white_black.svg" alt="logo_white_black" width="24" height="24">
  <a class="ml-1 navbar-brand" href="#">{{environment.projectName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="mt-2 mt-md-0 ">
      <div class="text-white">{{currentTime|date:'fullDate'}}</div>
    </div>
  </div>
</nav>